extends layout

block content
    h1.section-title=title

    if actors.length
        ul.actor-index-list
            each actor in actors
                li.actor-list-item
                    a.actor-list-tag(href=actor.url) #{actor.name}
    else
        p There are no actors available
