extends layout

block content

    p
    Do you really want to delete this actor?

      form(method='POST')
        input#id(name='actorid' value=actor._id type='hidden')

        button.btn.btn-primary(type='submit') Delete
