extends layout

block content
    h1.section-title=title
    if directors.length
        ul.actor-index-list
         each director in directors
            li.actor-list-item
                a.actor-list-tag(href=director.url) #{director.name}
    else
        p There are no actors
