extends layout

block content
    h1.section-title=title

    if genres.length
        ul.actor-index-list
            each genre in genres
                li.actor-list-item
                    a.actor-list-tag(href=genre.url) #{genre.name}
    else
        p There are no genres available

