extends layout

block content
    h1.section-title=title

    if genres.length
        ul.index-list
            each genre in genres
                li.detail-list-item
                    a.detail-list-tag(href=genre.url) #{genre.name}
    else
        p There are no genres available

