extends layout

block content

  p
    Do you really want to delete the genre?
    
  form(method='POST')
    input#id(name='genreid' value=genre._id type='hidden')

    button.btn.btn-primary(type='submit') Delete
