doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
  body
  div.content-total
    div(class='container-fluid sidebar')
          block sidebar
            ul(class='sidebar-nav')
              li.sidebar-item
                a(href='/catalog/' class=(name==="index"?'active':undefined)) Home
              li.sidebar-item
                a(href='/catalog/movies' class=(name==="movie_list"?'active':undefined)) All Movies
              li.sidebar-item
                a(href='/catalog/directors' class=(name==="director_list"?'active':undefined)) All Directors
              li.sidebar-item
                a(href='/catalog/actors' class=(name==="actor_list"?'active':undefined)) All Actors
              li.sidebar-item
                a(href='/catalog/genres' class=(name==="genre_list"?'active':undefined)) All genres
              li.sidebar-item
                a(href='/catalog/moviedvds' class=(name==="moviedvd_list"?'active':undefined)) All Movie DVDs

                hr

              li.sidebar-item
                a(href='/catalog/director/create') Create new Director
              li.sidebar-item
                a(href='/catalog/genre/create') Create new genre
              li.sidebar-item
                a(href='/catalog/actor/create') Create new Actor
              li.sidebar-item
                a(href='/catalog/movie/create') Create new Movie
              li.sidebar-item
                a(href='/catalog/moviedvd/create') Create new DVD listing
    main.content
      block content
