extends layout

block content
    h1.section-title=title

    if movies && movies.length 
        ul.actor-index-list
            each movie in movies
                li.actor-list-item
                    a.actor-list-tag(href=movie.url) #{movie.name}
    else
        p There are no movies available
